.rating-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 3px solid #a19a9a;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .rating-summary {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
  }
  
  .average-rating .rating-value {
    margin-bottom: -100px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .stars {
    color: gold;
    font-size: 16px;
  }
  
  .rating-count {
    margin-top: 5px;
    color: #666;
    font-size: 16px;
  }
  
  .rating-distribution {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 180px;
  }
  
  .rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .rating-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .filled-bar {
    height: 100%;
    background-color: red;
  }
  
  .add-review {
    margin-top: 20px;
    text-align: center;
  }
  
  select, button {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }

  .slash{
    height: 100%;
    width: 2px;
    background-color: #666;
    border: #666 solid 1px;
  }