@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tắt nút tăng giảm mặc định cho tất cả các trình duyệt */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Tắt trên Firefox */
}
input[type="number"]:focus {
    outline: none; /* Tắt viền outline màu xanh mặc định khi focus */
    border: none; /* Tắt border */
    box-shadow: none; /* Tắt shadow nếu có */
  }


.bg-purple-1 {
    background-color: #a3b4eb;
}
  
.bg-purple-2{
    background-color: #d1dcfd;
}