.spotlight{
    background-color: #f5e9e6;
    padding: 20px;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1310px;
    margin-top: 50px;
    height: 500px;
}


.spotlight .spot-head{
    width: 10px;
    background-color: #d32f2f;
}
.spotlight h2{
    color: #d32f2f;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
}

.spotlight h2.item{
    width: 10px;
    background-color: #d9534f;
}

.spotlight h2 .click{
    cursor: pointer;
    margin-left: 10px;
}

.spotlight h2 .click.left{
    margin-left: 900px;
}

.spotlight .view-all-container{
    display: inline-flex;
    align-items: left;
    margin: -20px;
    width: 1300px;
}
.spotlight .view-all-container h3{
    color: #d32f2f;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    margin-right: 600px;
}


.spotlight .view-all-container h3{
    text-align: left;
    box-sizing: content-box;
    width: 500px;
}

.spotlight .view-all-container .view-all-button{
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -5px;
}
.spotlight .spotlight-list{
    margin-left: 50px;
    display: inline-flex;
    display: flex;
    gap: 4px;
    height: 400px;
}

.spotlight .spotlight-list .spotlight-product{
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0px;
    width: 450px;
    height: 400 px;
    text-align: center;
    cursor: pointer;
}

.spotlight .spotlight-list .spotlight-product .product-view{
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    width: 250px;
    height: 300px;
}

.spotlight .spotlight-list .spotlight-product .product-view .product-img{
    margin-top: 30px;
    width: 230px;
    height: auto;
    justify-items:center;
    align-items: center;
}

.spotlight .spotlight-list .spotlight-product .product-view .heading{
    gap: 15px
}
.spotlight .spotlight-list .spotlight-product .product-data{
    padding: 4px;
    border-radius: 8px;
    box-sizing: content-box;
    width: 230px;
    padding: 5px;
}

.spotlight .spotlight-list .spotlight-product .product-name{
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

.spotlight .spotlight-list .spotlight-product .product-cash{
    color: #d32f2f;
    font-size: small;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.spotlight .spotlight-list .spotlight-product .product-rating{
    color: #ffab40;
    font-size: small;
    text-align: left;
}

.spotlight .spotlight-list .spotlight-product div span img{
    width: 16px;
    /* margin-left: 50px; */
    align-items: right;
    text-align: right;
}

.spotlight .spotlight-list .spotlight-product div .icon{
    display: inline-flex;
}

.spotlight .spotlight-list .spotlight-product div img{
    width: 100px;
}

.spotlight .spotlight-list .spotlight-product .product-view .discount {
    background-color: #ff6d6d;
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
    margin-left: -10px;
    align-items: left;
    font-size: 0.8em;
    margin-top: -10px;
    margin-right: 60px;
}

.spotlight .spotlight-list .spotlight-product div .addcart{
    background-color: #000;
    color:#ddd;
    width: 200px;
    margin-left: -10px;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    font-weight: bold;
}

.sale-price {
    color: #d32f2f;
    border-radius: 20px;
}

.original-price {
    text-decoration: line-through;
    color: #9e9e9e;
    font-size: 0.9em;
}

.rating {
    color: #ffab40;
    margin-top: 5px;
}



.view-all-container {
    text-align: center;
    padding: 20px 0;
    padding: 20px;
    border-radius: 8px;
    margin-left: 550px;
    margin-right: 700px;
    width: 400px;
}

.view-all-button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
}
.view-all{
    text-align: center;
    padding: 20px 0;
    padding: 20px;
    border-radius: 8px;
    margin-left: 550px;
    margin-right: 700px;
    margin-top: 50px;
    width: 400px;
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
}
.view-all-button:hover {
    background-color: #d32f2f;
}

.underline {
    width: 80%;
    height: 1px;
    background-color: #ddd;
    margin: 10px auto 0;
}

